html{
    font-family: 'Lucida Sans Unicode';
}

/*HEADER CSS*/
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 11em;
    align-items: center;
}

.main-nav{
    display: flex;
    flex-direction: row;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7em;
    padding: 0;
    margin: 0;
}

.main-nav ul li{
    list-style: none;
}

.main-nav ul li a{
    text-decoration: none;
    color: black;
}

.utilities-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.utilities-nav .search-box{
    font-size: 16px;
    height: 1.5em;
    width: 20em;
}

.utilities-nav ul{
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    justify-content: space-between;
    gap: 0.5em;
}

.utilities-nav ul li{
    list-style: none;
}

/*MAIN CSS*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1{
    font-size: 2em;
}

main section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.products, .promo_and_offer{
    width: auto;
    height: auto;
}

.products .image, .promo_and_offer .image{
    width: 24em;
    height: auto;
}

section .promo{
    grid-column: span 1;
}

/*FOOTER CSS*/
footer p{
    text-align: center;
}
