html{
    font-family: 'Lucida Sans Unicode';
}

body{
    margin: 0;
}

/*HEADER CSS*/
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 13em;
    align-items: center;
}

.main-nav{
    display: flex;
    flex-direction: row;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7em;
    padding: 0;
    margin: 0;
}

.main-nav ul li{
    list-style: none;
}

.main-nav ul li a{
    text-decoration: none;
    color: black;
}

.utilities-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.utilities-nav .search-box{
    font-size: 0.95em;
    font-family: inherit;
    height: 2em;
    width: 18em;
    border-radius: 10px;
    border: 0;
    background-color: #f0f0f0;
    text-align: center;
    padding-inline: 10px;
}

.utilities-nav ul{
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    justify-content: space-between;
    gap: 0.5em;
}

.utilities-nav ul li{
    list-style: none;
}

.utilities-nav ul li a img{
    filter: invert(50%) sepia(2%) saturate(0%) hue-rotate(299deg) brightness(102%) contrast(91%);
}

/*MAIN CSS*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1{
    font-size: 2em;
}

main section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.products, .promo_and_offer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.products .image, .promo_and_offer .image{
    width: 24em;
    height: auto;
}

section .promo .image {
    width: 50em;
    height: auto;
}

section .promo{
    grid-column: span 2;
}

section .promo h2{
    padding-inline: 2em;
}

/*FOOTER CSS*/
footer p{
    text-align: center;
    font-size: 0.9em;
    margin: 0;
}
